// Import Abstracts Files
@import '../scss/abstracts/variables';

// Import Base Files
@import '../scss/base/base';
@import '../scss/base/typography';

// Import Layout Files
@import '../scss/layout/admin-menu';
@import '../scss/layout/header';
@import '../scss/layout/navigation';

// Import Pages Files
@import '../scss/pages/add-new-article';
@import '../scss/pages/add-new-image';
@import '../scss/pages/admin-dashboard.scss';
@import '../scss/pages/delete-article';
@import '../scss/pages/delete-image';