<section class="admin-menu">
    <div class="admin-menu__container-single">
        <a class="body-1 no-link--white" href="/">Back to the website</a>
    </div>
    <div class="admin-menu__container-single">
        <a class="body-1 no-link--white" href="/admin/dashboard">Admin Dashboard</a>
    </div>
    <div class="admin-menu__container-single">
        <a class="body-1 no-link--white" href="/admin/articles">Articles</a>
    </div>
    <div class="admin-menu__container-single">
        <a class="body-1 no-link--white" href="/admin/images">Images</a>
    </div>
</section>
