<section class="admin-menu">
    <div class="admin-menu__container-single">
        <a class="body-1 link-no-style--white" href="/admin/dashboard">Admin Dashboard</a>
    </div>
    <div class="admin-menu__container-single">
        <a class="body-1 link-no-style--white" href="/admin/articles">Articles</a>
    </div>
    <div class="admin-menu__container-single">
        <a class="body-1 link-no-style--white" href="/admin/images">Images</a>
    </div>
</section>
