    <% const today = new Date(); %>
    <% const getCurrentYear = today.getFullYear(); %>
    <footer class="footer">
        <div class="footer__content">
            <p class="footer__content-main">Made with <span class="heart">&hearts;</span> in London by Marco Valeri - &copy; <%= getCurrentYear; %> - All rights reserved</p>
        </div>
    </footer>
</body>
</html>
