    <% const today = new Date(); %>
    <% const getCurrentYear = today.getFullYear(); %>
    <footer class="footer">
        <div class="footer__content">
            <p class="footer__content-main body-2">Made with <span class="heart">&hearts;</span> in London by Marco Valeri - &copy; <%= getCurrentYear; %> - All rights reserved</p>
        </div>
        <div class="footer__privacy">
            <p><a class="body-4 link" href="/privacy-policy">Privacy</a> <span class="footer__circle"></span> <a class="body-4 link" href="/cookie-policy">Cookie Policy</a></p>
        </div>
    </footer>
    <section id="cookie_policy" class="cookie-banner">
        <p class="cookie-banner__content">
            Utilizziamo cookie, anche di terze parti, per fini tecnici, statistici e di profilazione.<br>
            Cliccando su “Accetto”, acconsenti all’uso dei cookie.<br>
            Per ulteriori informazioni sui cookie e su come gestirli, consulta la nostra Cookie Policy<br>
        </p>
        <div class="cookie-banner__container-buttons">
            <input id="accept" class="cookie-banner__button button button__white" type="submit" value="Accetto" />
            <a id="more" class="cookie-banner__button button button__white" href="/privacy-policy">Scopri di più</a>
        </div>
    </section>
</body>
</html>
