<div class="header">
    <div class="header__container-navigation">
        <%- include('./navigation.ejs'); %>
    </div>
    <div class="header__hero">
        <div class="header__container">
            <h1 class="header__title font-tangerine">Marco Valeri</h1>
        </div>
    </div>
</div>
