<div class="header">
    <div class="header__container-navigation">
        <%- include('./navigation.ejs'); %>
    </div>
    <div class="header__container-content">
        <h1><%= pageTitle; %></h1>
    </div>
</div>
