<div class="sidebar">
    <div class="sidebar__item">
        <h2 class="sidebar__item-title">
            Seguimi su
        </h2>
        <p class="sidebar__item-content--icons">
            <a class="sidebar__item-icon no-link" href="https://www.facebook.com/marcovaleri.net" target="_blank">
                <img src="../images/facebook-icon.svg" alt="facebook icon">
            </a>
            <a class="sidebar__item-icon no-link" href="https://www.linkedin.com/in/valeri-marco/" target="_blank">
                <img src="../images/linkedin-icon.svg" alt="facebook icon">
            </a>
        </p>
    </div>
    <div class="sidebar__item">
        <h2 class="sidebar__item-title">
            Rimaniamo in contatto
        </h2>
        <p class="sidebar__item-content">
            Rimaniamo in contatto tramite email.
            <br>
            Iscriviti alla mia newsletter dove sono solito a condividere i miei ultimi articoli e alcune novità con i lettori più intimi.
        </p>
        <a href="/newsletter">
            <button class="button button__black">Newsletter</button>
        </a>
    </div>
</div>