/**
* Create a mixin that works for
* media queries in the following breakpoints:
*           xs
*           sm
*           md
*           lg
*           xl
*           xxl
*
* This project follow the logic of responsive-design
*/
@import url("https://fonts.googleapis.com/css2?family=Tangerine:wght@400;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Cinzel+Decorative&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Arizonia&display=swap");
* {
  padding: 0;
  margin: 0; }

html {
  font-size: 62.5%; }

/**
* Google Font
* Name: Tangerine
* font-family: 'Tangerine', cursive;
*/
/**
* Google Font
* Name: Cinzel Decorative
* font-family: 'Cinzel Decorative', cursive;
*/
/**
* Google Font
* Name:Arizonia
* font-family: 'Arizonia', cursive;
*/
.button {
  font-size: 1.6rem;
  text-decoration: none;
  padding: 1rem 2rem;
  border-radius: 5px;
  cursor: pointer; }
  .button:hover {
    text-decoration: none; }
  .button__black {
    color: #fff;
    background-color: #000; }
    .button__black:hover {
      color: #000;
      background-color: #fff;
      transform: translate(0, -2px);
      box-shadow: 5px 5px 3px #707070; }
  .button__white {
    color: #000;
    background-color: #fff; }
    .button__white:hover {
      color: #fff;
      background-color: #000;
      transform: translate(0, -2px);
      border: 1px solid #fff; }

.h1 {
  font-size: 5.5rem; }

.h2 {
  font-size: 4.3rem; }

.h3 {
  font-size: 3.5rem; }

.h4 {
  font-size: 2.8rem; }

.body-1 {
  font-size: 2.2rem; }

.body-2 {
  font-size: 2rem; }

.body-3 {
  font-size: 1.8rem; }

.body-4 {
  font-size: 1.6rem; }

.p {
  font-size: 2.2rem; }

.p--bold {
  font-weight: 900; }

.rainbow {
  background-image: linear-gradient(to left, violet, indigo, blue, green, #cccc2c, orange, red);
  -webkit-background-clip: text;
  color: transparent; }

.no-link {
  text-decoration: none;
  color: #000; }
  .no-link:hover {
    text-decoration: none; }

.no-link--white {
  text-decoration: none;
  color: #fff; }
  .no-link--white:hover {
    text-decoration: none;
    border: 1px solid #000; }

.link {
  color: #296eb4;
  text-decoration: none; }
  .link:hover {
    text-decoration: underline; }

.font-tangerine {
  font-family: 'Tangerine', cursive; }

.list-no-style {
  list-style-type: none; }

.error {
  font-size: 1.8rem;
  color: #f00; }

.brand-name {
  font-size: 4rem;
  color: #fff; }
  @media only screen and (max-width: 575px) {
    .brand-name {
      font-size: 3rem; } }

.heart {
  font-size: 3.5rem;
  color: #ff0000; }

.admin-menu__container-single {
  padding: 2rem 0; }

.content {
  grid-area: content;
  padding: 3rem; }
  @media only screen and (max-width: 767px) {
    .content {
      padding: 1.5rem; } }
  .content__image {
    width: 100%;
    margin-bottom: 1.5rem; }
  .content__image-picture {
    width: 80%;
    display: block;
    margin: auto; }
  .content__title {
    font-size: 3rem;
    margin-bottom: 2rem; }
    @media only screen and (max-width: 767px) {
      .content__title {
        font-size: 2rem; } }
  .content__data {
    margin-bottom: 2rem; }
  .content__data-item {
    font-size: 1.6rem;
    margin-bottom: .5rem;
    color: #a39a9a; }
  .content__index {
    padding: 3rem;
    margin: 4rem 0;
    border-radius: 5px;
    border: 1px solid #e9e9e9; }
    .content__index:hover {
      border: 1px solid #296eb4; }
  .content__index-item {
    padding: .5rem; }
  .content__gender-banner {
    text-align: center;
    padding: 2rem;
    margin-bottom: 2rem;
    border: 1px solid #e9e9e9; }
  .content__gender-item {
    display: inline-block;
    padding: 1rem; }
  .content__gender-icon {
    width: 5rem;
    cursor: pointer; }
  .content__gender-icon--active {
    background-color: #96d296;
    border-radius: 50px; }
  .content__main {
    margin-bottom: 5rem; }
    @media only screen and (max-width: 767px) {
      .content__main li {
        margin-left: 3.5rem; } }
  .content__main--female {
    display: none; }
  .content__main--non-binary {
    display: none; }
  .content__main h2 {
    font-size: 3.2rem; }
  .content__main h3 {
    font-size: 2.8rem; }
  .content__main p {
    font-size: 2.2rem;
    line-height: 1.6; }
  .content__main li {
    font-size: 2.2rem;
    line-height: 1.6; }
  .content__main li {
    margin-left: 5rem; }

.footer {
  position: relative;
  height: 30vh;
  background-color: #000; }
  .footer__content {
    position: absolute;
    width: 80%;
    top: 70%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center; }
    @media only screen and (max-width: 767px) {
      .footer__content {
        top: 50%; } }
  .footer__content-main {
    color: #fff;
    font-size: 2rem; }
    @media only screen and (max-width: 767px) {
      .footer__content-main {
        line-height: 1.6; } }
    @media only screen and (max-width: 575px) {
      .footer__content-main {
        font-size: 1.5rem; } }

.header {
  height: 50vh;
  min-height: 40rem;
  background-color: #000; }
  .header__hero {
    width: 30%;
    margin: 6rem auto 0rem auto;
    color: #fff;
    border: 1px solid #fff;
    border-radius: 5px; }
    @media only screen and (max-width: 1499px) {
      .header__hero {
        width: 40%; } }
    @media only screen and (max-width: 1199px) {
      .header__hero {
        width: 50%; } }
    @media only screen and (max-width: 991px) {
      .header__hero {
        width: 60%; } }
    @media only screen and (max-width: 767px) {
      .header__hero {
        width: 90%; } }
    @media only screen and (max-width: 380px) {
      .header__hero {
        margin: 3rem auto 0rem auto; } }
  .header__container {
    padding: 3rem;
    text-align: center; }
  .header__title {
    font-size: 8rem; }
    @media only screen and (max-width: 575px) {
      .header__title {
        font-size: 6rem; } }

.main {
  width: 80%;
  margin: 3rem auto 3rem auto;
  display: grid;
  grid-template-columns: 1fr .40fr;
  grid-template-areas: "content sidebar"; }
  @media only screen and (max-width: 991px) {
    .main {
      grid-template-columns: 1fr;
      grid-template-areas: "content" "sidebar"; } }
  @media only screen and (max-width: 767px) {
    .main {
      width: 95%;
      margin: 1.5rem auto 1.5rem auto; } }

.navbar {
  position: relative;
  padding: 3rem;
  border-bottom: 1px solid #fff; }
  @media only screen and (max-width: 991px) {
    .navbar {
      border-bottom: none; } }
  @media only screen and (max-width: 991px) {
    .navbar__toggle {
      display: block;
      position: relative;
      top: 0;
      z-index: 1;
      -webkit-user-select: none;
      user-select: none; }
      .navbar__toggle input:checked ~ span:nth-last-child(3) {
        opacity: 0;
        transform: rotate(0deg) scale(0.2, 0.2); }
      .navbar__toggle input:checked ~ span:nth-last-child(2) {
        transform: rotate(-45deg) translate(0, 1px); } }
  .navbar__input, .navbar__span {
    display: none;
    cursor: pointer; }
  @media only screen and (max-width: 991px) {
    .navbar__input {
      display: block;
      width: 40px;
      height: 32px;
      position: absolute;
      top: -7px;
      left: -5px;
      opacity: 0;
      z-index: 2;
      -webkit-touch-callout: none; } }
  @media only screen and (max-width: 991px) {
    .navbar input:checked ~ ul {
      transform: none; } }
  @media only screen and (max-width: 991px) {
    .navbar__span {
      display: block;
      width: 33px;
      height: 4px;
      margin-bottom: 5px;
      position: relative;
      background: #fff;
      border-radius: 3px;
      z-index: 1;
      transform-origin: 4px 0px;
      transition: transform 0.5s cubic-bezier(0.77, 0.2, 0.05, 1), background 0.5s cubic-bezier(0.77, 0.2, 0.05, 1), opacity 0.55s ease; }
      .navbar__span:first-child {
        transform-origin: 0% 0%; }
      .navbar__span:nth-last-child(2) {
        transform-origin: 0% 100%; } }
  .navbar__menu {
    text-align: right; }
    @media only screen and (max-width: 991px) {
      .navbar__menu {
        position: absolute;
        width: 90%;
        margin: -100px 0 0 -50px;
        padding: 50px;
        padding-top: 125px;
        text-align: center;
        background: #000;
        list-style-type: none;
        -webkit-font-smoothing: antialiased;
        transform-origin: 0% 0%;
        transform: translate(-100%, 0);
        transition: transform 0.5s cubic-bezier(0.77, 0.2, 0.05, 1); } }
  .navbar__element {
    display: inline;
    font-size: 2rem;
    padding: 1.5rem; }
    .navbar__element--mark .navbar__link {
      text-decoration: underline;
      text-decoration-color: #fff;
      text-decoration-thickness: 15%; }
    @media only screen and (max-width: 991px) {
      .navbar__element {
        font-size: 2rem;
        padding: 10px 0;
        display: block; }
        .navbar__element a:hover {
          text-decoration: none; } }
  .navbar__logo {
    position: absolute;
    left: 5%;
    top: 0; }
    @media only screen and (max-width: 991px) {
      .navbar__logo {
        position: relative;
        top: 0;
        left: 0; } }
  .navbar__link {
    color: #fff;
    text-decoration: none; }
    .navbar__link:hover {
      color: #fff;
      text-decoration: underline;
      text-decoration-color: #fff;
      text-decoration-thickness: 15%; }

.sidebar {
  grid-area: sidebar;
  padding: 1.5rem;
  text-align: center; }
  .sidebar__item {
    margin-bottom: 2.5rem; }
  .sidebar__item-title {
    padding: 2rem 0;
    font-size: 2rem;
    color: #fff;
    background-color: #000; }
  .sidebar__item-content {
    padding: 1rem;
    font-size: 1.8rem;
    text-align: left;
    line-height: 1.6;
    margin-bottom: 1rem; }
  .sidebar__item-content--icons {
    padding: 2rem;
    text-align: left; }
  .sidebar__item-icon {
    padding: 1rem; }

.add-new-article__title {
  margin-bottom: 2rem; }

.add-new-article__grid {
  display: grid;
  grid-template-columns: 1fr;
  grid-row-gap: 2rem;
  grid-template-areas: "add-new-article__container-title" "add-new-article__container-description" "add-new-article__container-url" "add-new-article__container-content" "add-new-article__container-image" "add-new-article__container-submit"; }

.add-new-article__container-title {
  grid-area: add-new-article__container-title; }

.add-new-article__container-description {
  grid-area: add-new-article__container-description; }

.add-new-article__container-url {
  grid-area: add-new-article__container-url; }

.add-new-article__container-content {
  grid-area: add-new-article__container-content; }

.add-new-article__container-image {
  grid-area: add-new-article__container-image; }

.add-new-article__container-submit {
  grid-area: add-new-article__container-submit; }

.add-new-article label,
.add-new-article input {
  display: block; }

.add-new-article input[type=text] {
  width: 80%;
  font-size: 1.6rem;
  padding: 1rem;
  border-radius: 5px; }

.add-new-article textarea {
  width: 80%;
  font-size: 1.6rem;
  padding: 1rem;
  border-radius: 5px; }

.add-new-image__title {
  margin-bottom: 2rem; }

.add-new-image__grid {
  display: grid;
  grid-template-columns: 1fr;
  grid-row-gap: 2rem;
  grid-template-areas: "add-new-image__container-title" "add-new-image__container-caption" "add-new-image__container-description" "add-new-image__container-image" "add-new-image__container-submit"; }

.add-new-image__container-title {
  grid-area: add-new-image__container-title; }

.add-new-image__container-caption {
  grid-area: add-new-image__container-caption; }

.add-new-image__container-description {
  grid-area: add-new-image__container-description; }

.add-new-image__container-image {
  grid-area: add-new-image__container-image; }

.add-new-image__container-submit {
  grid-area: add-new-image__container-submit; }

.add-new-image label,
.add-new-image input {
  display: block; }

.add-new-image input[type=text] {
  width: 80%;
  font-size: 1.6rem;
  padding: 1rem;
  border-radius: 5px; }

.add-new-image input[type=file] {
  font-size: 1.6rem;
  padding: 1rem 0; }

.add-new-image input[type=file]::file-selector-button {
  font-size: 1.6rem;
  background-color: #fff;
  padding: 1rem;
  border: 1px solid #000;
  border-radius: 5px; }
  .add-new-image input[type=file]::file-selector-button:hover {
    color: #fff;
    background-color: #000;
    border: 1px solid #fff; }

.add-new-user__title {
  margin-bottom: 2rem; }

.add-new-user__grid {
  display: grid;
  grid-template-columns: 1fr;
  grid-row-gap: 2rem;
  grid-template-areas: "add-new-user__container-email" "add-new-user__container-password" "add-new-user__container-submit"; }

.add-new-user__container-email {
  grid-area: add-new-user__container-email; }

.add-new-user__container-password {
  grid-area: add-new-user__container-password; }

.add-new-user__container-submit {
  grid-area: add-new-user__container-submit; }

.add-new-user label,
.add-new-user input {
  display: block; }

.add-new-user input[type=email],
.add-new-user input[type=password] {
  width: 80%;
  font-size: 1.6rem;
  padding: 1rem;
  border-radius: 5px; }

.admin-dashboard {
  background-color: #000;
  color: #fff; }
  .admin-dashboard__grid {
    display: grid;
    grid-template-columns: 1fr 3fr;
    grid-template-areas: "admin-main__container-menu admin-main__container-content"; }
  .admin-dashboard__container-menu {
    grid-area: admin-main__container-menu;
    min-height: 100vh;
    padding: 2rem;
    border: 1px solid #fff; }
  .admin-dashboard__container-content {
    grid-area: admin-main__container-content;
    padding: 2rem 2rem 10rem 2rem; }
  .admin-dashboard__container-articles {
    margin-top: 3rem;
    margin-bottom: 2rem; }
  .admin-dashboard__table-articles {
    border-collapse: collapse; }
    .admin-dashboard__table-articles td, .admin-dashboard__table-articles th {
      text-align: left;
      padding: 1.5rem;
      border: 1px solid #fff; }
  .admin-dashboard__container-images {
    margin-top: 3rem;
    margin-bottom: 2rem; }
  .admin-dashboard__table-images {
    border-collapse: collapse; }
    .admin-dashboard__table-images td, .admin-dashboard__table-images th {
      text-align: left;
      padding: 1.5rem;
      border: 1px solid #fff; }
  .admin-dashboard__table-single-image {
    width: 5rem; }

.delete-article__title {
  margin-bottom: 2rem; }

.delete-article__sub-title {
  margin-bottom: 2rem; }

.delete-article__button {
  margin-right: 2rem; }

.delete-image__title {
  margin-bottom: 2rem; }

.delete-image__sub-title {
  margin-bottom: 2rem; }

.delete-image__button {
  margin-right: 2rem; }

.login {
  position: relative;
  height: 80vh; }
  .login__form {
    position: absolute;
    width: 60%;
    top: 20%;
    left: 50%;
    transform: translate(-50%, 50%); }
    @media only screen and (max-width: 991px) {
      .login__form {
        width: 80%; } }
  .login__form-grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-row-gap: 3rem;
    grid-template-areas: "login__form-container-email login__form-container-password" "login__form-container-btn login__form-container-btn"; }
    @media only screen and (max-width: 767px) {
      .login__form-grid {
        grid-template-columns: 1fr;
        grid-row-gap: 3rem;
        grid-template-areas: "login__form-container-email" "login__form-container-password" "login__form-container-btn"; } }
  .login__form-container-email {
    grid-template-areas: login__form-container-email; }
  .login__form-container-password {
    grid-template-areas: login__form-container-password; }
  .login__form-container-btn {
    grid-template-areas: login__form-container-btn; }
  .login input[type=email],
  .login input[type=password] {
    width: 80%;
    font-size: 1.6rem;
    padding: 1rem;
    border-radius: 5px; }
