// Font
.body-1 {
    font-size: 2.2rem;
}

.body-2 {
    font-size: 2rem;
}

.body-3 {
    font-size: 1.8rem;
}

.body-4 {
    font-size: 1.6rem;
}

.p {
    font-size: 2.2rem;
}

.p--bold {
    font-weight: 900;
}

// Link
.link-no-style {
    color: $black;
    text-decoration: none;
}
