.contact {

    &__grid {
        display: grid;
        grid-template-columns: 1fr 1fr;
        row-gap: 5rem;
        grid-template-areas:
        "contact__container-name contact__container-surname"
        "contact__container-email contact__container-email"
        "contact__container-message contact__container-message"
        "contact__container-privacy contact__container-privacy"
        "contact__container-submit contact__container-submit";

        @include respond(xl) {
            grid-template-columns: 1fr;
            grid-template-areas:
            "contact__container-name"
            "contact__container-surname"
            "contact__container-email"
            "contact__container-message"
            "contact__container-privacy"
            "contact__container-submit";
        }
    }

    &__container-name {
        grid-area: contact__container-name;
    }

    &__container-surname {
        grid-area: contact__container-surname;
    }

    &__container-email {
        grid-area: contact__container-email;
    }

    &__container-message {
        grid-area: contact__container-message;
    }

    &__container-privacy {
        grid-area: contact__container-privacy;
    }

    &__container-submit {
        grid-area: contact__container-submit;
    }

    // Form General Rules
    input[type=text] {
        width: 80%;
        font-size: 1.6rem;
        padding: 1rem;
        border-radius: 5px;

        @include respond(xl) {
            width: 90%;
        }
    }

    input[type=email] {
        width: 90%;
        font-size: 1.6rem;
        padding: 1rem;
        border-radius: 5px;
    }

    textarea {
        width: 90%;
        height: auto;
        min-height: 15rem;
        font-size: 1.6rem;
        padding: 1rem;
        border-radius: 5px;
    }

}