.footer {
    display: flex;
    justify-content: end;
    flex-direction: column;
    height: 25vh;
    padding-bottom: 3rem;
    background-color: #000;

    &__content {
        text-align: center;
        padding: 0 2rem;
        margin-bottom: 1rem;
    }
    
    &__content-main {
        color: $white;
    }

    &__privacy {
        text-align: center;
        color: $white;
    }

    &__circle {
        display: inline-block;
        height: .5rem;
        width: .5rem;
        border-radius: 50%;
        margin: 0 .5rem;
        background-color: $white;
    }
}