.footer {
    position: relative;
    height: 30vh;
    background-color: #000;

    &__content {
        position: absolute;
        width: 80%;
        top: 70%;
        left: 50%;
        transform: translate(-50%, -50%);
        text-align: center;

        @include respond(md) {
            top: 50%;
        }
    }
    
    &__content-main {
        color: #fff;
        font-size: 2rem;

        @include respond(md) {
            line-height: 1.6;
        }

        @include respond(sm) {
            font-size: 1.5rem;
        }
    }
}